* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid blue;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.revealScroller {
  border: 2px solid red;
  width: 75vh;
  height: 65vh;
  display: flex;
  flex-flow: row nowrap;
}


/* side scroller left */

.scroller {
  border: 2px solid greenyellow;
  flex: 1;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

p {
  border: 2px solid green;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



/* picture scroller right */

.reveal {
  border: 2px solid purple;
  flex: 2;
  overflow: scroll;
  
}

.picture {
  width: 100%;
  height: 100%;
}

